{{ define "content" }}

<h2>Добавить трату</h2>

<form method="POST" action="/add">
	<p>
			<label>Сумма:
					<input type="number" name="amount" step ="0.01" required>
			</label>
	</p>
	<p>
			<label>Описание:
					<input type="text" name="description" required>
			</label>
	</p>
	<p>
			 <label>Дата:
			 		<input type="date" name="date" required>
			 </label>
	</p>
	<p>
			<button type="submit">Добавить</button>
	</p>
</form>

<hr>

<h2>Список трат</h2>

{{ if . }}
<table>
		<thead>
				<tr>
						<th>Сумма</th>
						<th>Описание</th>
						<th>Дата</th>
				</tr>
		</thead>
<tbody>
		{{ range . }}
		<tr>
				<td>{{ .Amount }}</td>
				<td>{{ .Description }}</td>
				<td>{{ .Date }}</td>
		</tr>
	{{ end }}
</tbody>
</table>
{{ else }}
<p>Пока нет ни одной траты. Добавьте первую!</p>
{{ end }}

{{ end }}